/bitrix
/upload
/local/vendor
/local/classes/General/Constants.php
/html
/frontend
.remote-sync.json
.idea/*
.vscode
yandex_*.html
google*.html
sitemap*.xml
composer.phar
restore.php
*.log
*.sql
*.txt
*.xml
*.dt
*.swp
*.swo
*.DS_Store
*.bat
google.php
yandex.php
.htaccess
